/* English Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tektur&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rowdies:wght@300;400;700&display=swap'); /* For Header Title*/

/* Sinhala Fonts */
@import url('https://fonts.googleapis.com/css2?family=Gemunu+Libre:wght@600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
   font-family: 'Ubuntu', sans-serif;
   margin-top: 70px;
}

/* Set the top of body padding */
.main-content {
   margin-top: 70px;
}

.body-content {
   margin-right: 20px;
   margin-left: 20px;
   margin-top: 120px;
   margin-bottom: 50px;
}
